*{
    padding: 0;
    margin: 0;
    font-family: 'Kantumruy', sans-serif;}
.container{
    height: 200px;
    width: 100%;
    border: solid black 1px;
}
.date{
    background-color: rgb(37, 78, 141);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date i{
    color: white;
    padding-right: 5px;
}
.date span{
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-right: solid white 2px;
    padding-right: 20px;
}
.top-menu{
    background-color: rgb(37, 78, 141);;
    width: 100%;
    height: 40px;
}
.top-menu ul{
    display: flex;
    align-content: center;
    list-style: none;
    padding-top: 7px;
}
.top-menu ul li a{
    color: white;
    font-size: 12px;
    font-family: content;
    text-decoration: none;
    padding: 0 10px;
}
.logo{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-bar{
    display: none;
}
.phone-logo{
    width: 300px;
    height: 80px;
    position:absolute;
    display: none;
}
.search-bar{
    height: 60px;
    background-color: rgb(22, 22, 95);;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-bar i{
    color: white;
    position: absolute;
    left: 150px;
}
.nav-links{
    background-color: rgb(22, 22, 95);
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.nav-links ul{
    display: flex;
    list-style: none;
    padding-top: 7px;
}
.nav-links ul li{
    margin-top: 0px;
    margin-left: -15px;
    overflow: hidden;
    padding: 15px 5px;
}
.nav-links ul li a{
    color: white;
    font-size: 16px;
    font-family: content;
    text-decoration: none;
    padding: 14px;
}
.nav-links ul li a:hover{
    background-color: red;
    transition: 0.4s;
}
.all-content{
    width: 100%;
    height: 1600px;
}
.main-content{
    height: 500px;
    width: 100%;
    border: none;
    margin-top: 15px;
}
.big-left-slide{
    background-color: brown;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.452), rgb(0, 0, 0)); */
}


.big-left-slide img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}
.big-left-slide:hover img{
    transform: scale(1.1);
}
.big-left-slide h4{
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 40px;
    left: 20px;
}
.big-left-slide p{
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 0px;
    left: 20px;
    font-size: 14px;
}
.big-right-slide{
    height: 500px;
}
.small-topright-slide{
    background-color: cadetblue;
    height: 250px;
    overflow: hidden;
}
.small-topright-slide img{
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.5s;

}
.small-topright-slide img:hover{
    transform: scale(1.1);
}
.small-topright-slide h6{
    font-weight: bold;
    position: absolute;
    top: 130px;
    left: 7px;
    color: white;
}
.small-topright-slide p{
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 7px;
    font-size: 12px;
    color: white;
}
.small-topleft-slide{
    background-color: rgb(124, 253, 18);
    height: 250px;
    overflow: hidden;
}
.small-topleft-slide img{
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.5s;

}
.small-topleft-slide img:hover{
    transform: scale(1.1);
}
.small-topleft-slide h6{
    font-weight: bold;
    position: absolute;
    top: 130px;
    left: 7px;
    color: white;
}
.small-topleft-slide p{
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 7px;
    font-size: 12px;
    color: white;
}
.small-buttright-slide{
    background-color: rgb(160, 126, 95);
    height: 250px;
    overflow: hidden;
}
.small-buttright-slide img{
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.5s;

}
.small-buttright-slide img:hover{
    transform: scale(1.1);
}
.small-buttright-slide h6{
    font-weight: bold;
    position: absolute;
    top: 130px;
    left: 7px;
    color: white;
}
.small-buttright-slide p{
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 7px;
    font-size: 12px;
    color: white;
}
.small-buttleft-slide{
    background-color: rgb(253, 18, 182);
    height: 250px;
    overflow: hidden;
}
.small-buttleft-slide img{
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.5s;

}
.small-buttleft-slide img:hover{
    transform: scale(1.1);
}
.small-buttleft-slide h6{
    font-weight: bold;
    position: absolute;
    top: 130px;
    left: 7px;
    color: white;
}
.small-buttleft-slide p{
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 7px;
    font-size: 12px;
    color: white;
}
.small-contents{
    height: 1200px;
    margin-top: 10px;
}
.search-box{
    height: 1200px;
        margin-top: 10px;
}
.small-content{
    height: 200px;
    margin-top: 10px;
}
.image{
    height: 200px;
    background-color: black;
    position: relative;
}
.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.image img{
    height: 100%;
    width: 100%;
}
.text{
    height: 200px;
}
.text h6{
    font-weight: bold;
    padding: 0px 10px;
    color: black;
}
.text p{
    font-weight: bold;
    padding: 0px 10px;
    color: black;
    margin-top: 20px;
}
.detail{
    background-color: blue;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.detail p{
    font-size: 15px;
    color: white;
    font-weight: bold;
    font-family: content;
    margin: 5px 15px;
}
.search{
    height: 80px;
    width: 250px;
    border: solid black 1px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    height: 50px;
    width: 150px;
    padding-left: 10px;
    border: solid black 1px;
}
.search button{
    height: 50px;
    width: 70px;
    background-color: cornflowerblue;
    border: none;
    color: white;
}
.all-footer{
    height: 300px;
    width: 60%;
    background-color: turquoise;
    border: none;
    margin: 0 auto;
}
.footer1{
    height: 100px;
    width: 100%;
    background-color: rgb(34, 43, 95);
}
.footer2{
    height: 100px;
    width: 100%;
    background-color: rgb(29, 43, 117);
}
.list{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.list ul{
    display: flex;
    justify-content: center;
}
.list ul li{
    list-style: none;
    margin-top: 0px;
    padding: 35px 0;
}
.list ul li:hover{
    border-bottom: solid red 5px;
    transition: 0.3s;
}
.list ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: content;
    padding: 5px;
}
.footer3{
    height: 100px;
    width: 100%;
    background-color: rgb(20, 42, 172);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer3 p{
    color: grey;
    font-size: 15px;
}
.main-bar{
    display: none;
}

















/*mobile phone*/
@media (max-width: 575px) {
    .container{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 60px;
        border: none;
        border-bottom: solid black 1px;
    }
    .date{
        display: none;
    }
    .top-menu{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .all-logo{
        display: none;
    }
    .phone-logo{
        display: block;
        height: 50px;
        width: 80px;
        position: absolute;
        top: 4px;
    }
    .nav-bar{
        display: block;
        font-size: 35px;
        position: absolute;
        left: 320px;
        top: 3px;
    }
    .all-content{
        border: none;
    }
    .big-left-slide{
        flex: 0 0 100%;
        max-width: 100%;
        height: 250px;
        margin-top: 0;
    }
    .big-right-slide{
        flex: 0 0 100%;
        max-width: 100%;
        height: 100px;
    }
    .small-topright-slide{
        background-color: cadetblue;
        height: 150px;
    }
    .small-topright-slide h6{
        font-size: 12px;
        position: absolute;
        top: 90px;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%; 
        height: 30px; 
        white-space: nowrap;
    }
    .big-left-slide h4{
        font-size: 18px;
    }
    .small-topleft-slide{
        background-color: rgb(124, 253, 18);
        height: 150px;
    }
    .small-topleft-slide h6{
        font-size: 12px;
        position: absolute;
        top: 90px;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%; 
        height: 30px; 
        white-space: nowrap;
    }
    .small-buttright-slide{
        background-color: rgb(160, 126, 95);
        height: 150px;
        
    }
    .small-buttright-slide h6{
        font-size: 12px;
        position: absolute;
        top: 90px;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%; 
        height: 30px; 
        white-space: nowrap;
    }
    .small-buttleft-slide{
        background-color: rgb(253, 18, 182);
        height: 150px;
    }
    .small-buttleft-slide h6{
        font-size: 12px;
        position: absolute;
        top: 90px;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%; 
        height: 30px; 
        white-space: nowrap;
    }
    .small-contents{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search-box{
        flex: 0 0 100%;
        max-width: 100%;
        height: 100px;
        position: absolute;
        margin-top: 1000px;
        display: none;
    }
    .small-contents{
        margin-top: 200px;
        height: max-content;
    }
    .small-content{
        height: 100px;
    }
    .image{
        height: 100px;
    }
    .detail{
        width: 50px;
        height: 20px;
    }
    .detail p{
        font-size: 10px;
        margin: 3px 10px;
    }
    .text{
        height: 100px;
    }
    .text h6{
        color: black;
        font-size: 12px;
    }
    .text p{
        font-weight: bold;
        font-size: 10px;
        color: black;
        margin-top: 10px;
    }
    .all-footer{
        width: 100%;
        margin-top: 1050px;
    }
    .list ul li a{
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-family: content;
        padding: 5px;
    }
    .main-bar{
        display: block;
        position: absolute;
        position: fixed;
        top: 0;
        left: -100%;
        height: 850px;
        width: 100%;
        background-color: rgb(29, 43, 117);

    }
    .main-bar .header{
        height: 85px;
        background-color: rgb(34, 43, 95);
        display: flex;
        align-items: center;
    }
    .fa-times{
        position: absolute;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }
    .main-bar ul{
        list-style: none;
    }
    .main-bar ul li{
        padding: 20px 0px;
        border-bottom: 0.5px solid black;
    }
    .main-bar ul li a{
        text-decoration: none;
        padding: 20px 10px;
        font-weight: bold;
        color: white;
    }
    
}


/*ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .date{
        flex: 0 0 100%;
        max-width: 25%;
        height: 60px;
    }
    .top-menu{
        flex: 0 0 100%;
        max-width: 75%;
        height: 60px;
    }
    .nav-links{
        flex: 0 0 100%;
        max-width: 90%;
    }
    .nav-links ul li a{
        font-size: 12px;
        padding: 9px;
    }
    .search-bar{
        flex: 0 0 100%;
        max-width: 10%;
    }
    .search-bar i{
        position: absolute;
        left: 40px;
    }
    .all-content{
        height: 1070px;
    }
    .main-content{
        margin-top: 35px;
    }
    .big-left-slide{
        height: 300px;
        margin-top: 0;
    }
    .big-right-slide{
        height: 100px;
    }
    .small-topright-slide{
        background-color: cadetblue;
        height: 150px;
    }
    .small-topleft-slide{
        background-color: rgb(124, 253, 18);
        height: 150px;
    }
    .small-buttright-slide{
        background-color: rgb(160, 126, 95);
        height: 150px;
    }
    .small-buttleft-slide{
        background-color: rgb(253, 18, 182);
        height: 150px;
    }
    .small-content{
        height: 130px;
    }
    .image{
        height: 130px;
    }
    .detail{
        width: 50px;
        height: 20px;
    }
    .detail p{
        font-size: 10px;
        margin: 3px 10px;
    }
    .text{
        height: 130px;
    }
    .search{
        width: 160px;
    }
    .search input{
        width: 80px;
    }
    .small-contents{
        height: max-content;
    }
    .all-footer{
        width: 100%;
    }
    .list ul li a{
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-family: content;
        padding: 5px;
    }
} 

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .date{
        flex: 0 0 100%;
        max-width: 25%;
    }
    .top-menu{
        flex: 0 0 100%;
        max-width: 75%;
    }
    .nav-links{
        flex: 0 0 100%;
        max-width: 85%;
    }
    .nav-links ul li a{
        font-size: 15px;
        padding: 12px;
    }
    .search-bar{
        flex: 0 0 100%;
        max-width: 15%;
    }
    .search-bar i{
        position: absolute;
        left: 100px;
    }
    .search{
        width: 220px;
    }
    .search input{
        width: 120px;
    }
    .small-contents{
        height: max-content;
    }
    .all-footer{
        width: 100%;
    }
    .list ul li a{
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: content;
        padding: 5px;
    }
} 

/*laptop*/
@media (min-width: 1200px)  {
    
}